:root {
    --bg-color-body: #011638;
    --bg-color-header: #4e7a9e;
    --text-color-header: #011638;
    --text-color-body: #ef9597;
    --image-bg: url(assets/Fondodark.png); 
    }

body{
    margin: 0;
    padding: 0px;
    background-color: var(--bg-color-body);
    color: var(--text-color-body);
    
}

body.dark{
    --bg-color-body: #F6E1E8;
    --bg-color-header: #ef9597;
    --text-color-header: #F6E1E8;
    --text-color-body: #4e7a9e;
    --image-bg: url(assets/Fondo.png); 
}

header {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 715px;
    display: block;
    background: var(--image-bg);
    background-repeat: no-repeat;
    background-position:center;
}

.encabezado{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-header);
}

.argprog{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.logo{
    height: 50px;
    margin-left: 20px;
    position: relative;
}

#palabrasheader{
    color: var(--text-color-header);
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    margin-left: 10px;
}

.linea {
    color: var(--text-color-header);
    height: 30px;
    border: 1px solid var(--text-color-header);
}

.switches{
    margin-right: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.toggle-theme_icons{
    height: 20px;
    width: 20px;
    cursor: pointer;    
}

.toggle-theme_icons:hover {
    transform: scale(1.1);
}

.menu{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
}

.menulista{
    align-items: center;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
    margin: 0%;
    padding: 0%;
}

.menulista li {
    display: inline;
}

.menu_items {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color-header);
    cursor: pointer;
}

.menu_items:hover {
    color: var(--text-color-body);
}

.introduccion {
    display: flex;
    margin:0%;
    padding: 0%;
    align-items: center;
    justify-content: space-between;
}

.introduccion-fuente {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: larger;
    color: var(--text-color-body);
    margin-right: 120px;
    margin-top: 130px;
}

#avatar {
    margin-top: 15px;
}

