:root {
    --bg-color-body: #011638;
    --bg-color-header: #4e7a9e;
    --text-color-header: #011638;
    --text-color-body: #ef9597;
    --bg-image: url(assets/fondodarkgif.gif);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background-color: var(--bg-color-body);
    color: var(--text-color-body);
    transition: var(--transition);
}

body.dark{
    --bg-color-body: #F6E1E8;
    --bg-color-header: #ef9597;
    --text-color-header: #F6E1E8;
    --text-color-body: #4e7a9e;
    --bg-image: url(assets/fondolightgif.gif);
    --bg-perfil: url(assets/perfillight.png); 
    transition: var(--transition);
}

.header {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    background: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition);
}

.encabezado{
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-header);
    transition: var(--transition);
}

.argprog{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.logo{
    height: 50px;
    margin-left: 20px;
    position: relative;
}

#palabrasheader{
    color: var(--text-color-header);
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    margin-left: 10px;
}

.linea {
    color: var(--text-color-header);
    height: 30px;
    border: 1px solid var(--text-color-header);
    transition: var(--transition);
}

.switches{
    margin-right: 45px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.toggle-theme_icons{
    height: 20px;
    width: 20px;
    cursor: pointer;    
}

.toggle-theme_icons:hover {
    transform: scale(1.1);
}

.menu{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
}

.menu ul{
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color-header);
    cursor: pointer;
    transition: var(--transition);
}

.menu ul li a:hover {
    color: var(--text-color-body);
}

.inicio {
    display: flex;
    flex-grow: 3;
    margin-top: 70px;
    justify-content: space-around;
    padding: 0 2vw;
}

.inicio-escritura{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-saludo{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: var(--text-color-body);
    text-align: center;
    font-family: 'Comforter', cursive;
    font-weight: bold;
    transition: var(--transition);
    user-select: none;
}

.inicio-descripcion {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: xx-large;
    color: var(--text-color-body);
    transition: var(--transition);
    user-select: none;
}

#avatar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    user-select: none;
}

#avatar-image{
    max-width: 600px;
    user-select: none;
}