:root {
    --bg-color-body: #011638;
    --bg-color-header: #4e7a9e;
    --text-color-header: #011638;
    --text-color-body: #ef9597;
    --bg-image: url(assets/fondodarkgif.gif);
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    max-height: 100%;
    background-color: var(--bg-color-body);
    color: var(--text-color-body);
    transition: var(--transition);
}

body.dark{
    --bg-color-body: #F6E1E8;
    --bg-color-header: #ef9597;
    --text-color-header: #F6E1E8;
    --text-color-body: #4e7a9e;
    --bg-image: url(assets/fondolightgif.gif);
    --bg-perfil: url(assets/perfillight.png); 
    transition: var(--transition);
}

.header {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    background: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition);
    position: relative;
}

.encabezado{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-header);
    transition: var(--transition);
}

.argprog{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
}

.logo{
    height: 50px;
    margin-left: 20px;
}

#palabrasheader{
    color: var(--text-color-header);
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    margin-left: 10px;
}

.linea {
    color: var(--text-color-header);
    height: 30px;
    border: 1px solid var(--text-color-header);
    transition: var(--transition);
}

.switches{
    margin-right: 10px;
    width: 4%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-around;
    z-index: 60;
}

.toggle-theme{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.toggle-theme_icons{
    height: 25px;
    width: 25px;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;    
}

.toggle-theme_icons:hover {
    transform: scale(1.1);
}

.menu{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.menu nav ul{
    list-style: none;
}

.menu nav ul li {
    display: inline;
}

.menu nav ul li a{
    text-decoration: none;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--text-color-header);
    cursor: pointer;
    transition: var(--transition);
}

.menu nav ul li a:focus {
    color: var(--text-color-body) !important;
}

.menu nav ul li a:hover {
    color: var(--text-color-body);
    transition: var(--transition);
}

#bt_menu{
    display: none;
}

#btn_menu{
    display: none;
}

.inicio {
    display: flex;
    flex-grow: 3;
    margin-top: 70px;
    justify-content: center;
    padding: 0 2vw;
}

.inicio-escritura{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-saludo{
    margin: 0;
    padding: 0;
    font-size: 100px;
    color: var(--text-color-body);
    text-align: center;
    font-family: 'Comforter', cursive;
    font-weight: bold;
    transition: var(--transition);
    user-select: none;
}

.inicio-descripcion {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: xx-large;
    color: var(--text-color-body);
    transition: var(--transition);
    user-select: none;
}

#avatar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    user-select: none;
}

#avatar-image{
    width: 600px;
    user-select: none;
}

/* Index Responsive*/

@media screen and (max-width:1200px) {
    
    .logo{
        width: 120px;
        margin-left: 10px;
    }
    
    #palabrasheader{
        font-size: 13px;
    }

}

@media screen and (max-width:1070px) {
    
    .header {
        width: 100%;
        height: 100vh;
    }
    
    .menu nav{
        position: fixed;
        z-index: 80;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        background-color: var(--bg-color-header);
        user-select: none;
        transition: var(--transition);
        transition: all 300ms !important;
    }

    .menu nav ul{
        margin-top: 50px;
    }

    .menu nav ul li{
        display: block;
        margin-bottom: 30px;
        margin-left: 20px;
    }

    .menu nav ul li a{
        margin: 0;
        cursor: pointer;
        background-color: var(--bg-color-header);
        transition: var(--transition);
    }

    #avatar-image{
        width: 450px;
    }

    .inicio-saludo{
        font-size: 70px;
    }
    
    .inicio-descripcion {
        font-size: x-large;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .switches{
        width: 10%;
        align-items: center;
        justify-content: space-evenly;
        user-select: none;
    }

    #bt_menu{
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    #btn_menu{
        display: flex;
        color: var(--bg-color-header);
        background-color: var(--text-color-header);
        border-radius: 15px;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        cursor: pointer;
        user-select: none;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        /* Con font-size controlo el tamaño del icono*/
    }

    #btn_menu:hover{
        transform: scale(1.1);
    }

}

@media screen and (max-width:720px) {
    
    .argprog span{
        display: none;
    }

    .switches{
        margin-right: 20px;
    }

    .inicio{
        width: 100%;
        height: 100%;
        padding: 0%;
        margin: 0%;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    #avatar{
        justify-content: center;
    }

    #avatar-image{
        width: 350px;
    }

    .inicio-saludo{
        font-size: 50px;
    }
    
    .inicio-descripcion {
        font-size: large;
    }
    
}