main{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0; 
}

.margenes{
  margin: 5px; 
  padding:60px 20px 20px 20px;
  height: 100vh;
  width: 100%;
}

.margenes2{
  margin: 5px; 
  padding:80px 20px 20px 20px;
  height: 200%;
  width: 100%;
}

.titulos{
  font-family: 'Bebas Neue', cursive;
  font-size: 300%;
  user-select: none;
}

/* ACERCA DE MI */

.SobreMi{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}

.SobreMi-descripcion{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50vw;
}

.SobreMi-div-perfil{
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-header);
  width: 30%;
  border-radius: 300px 300px 0 0;
}

.SobreMi-perfil{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition);
  user-select: none;
}

.parrafos{
  max-width: 600px;
  min-width: 300px;
  font-size: 150%;
  text-align: justify;
  color: var(--text-color-body);
  font-family: 'Oswald', sans-serif;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 40px;
  font-size: x-large;
  position: relative;
}

.btn::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn.rounded {
  display: flex;
  border-radius: 30px;
  background-color: var(--bg-color-body);
  z-index: 5;
  transition: var(--transition);
}

.btn.rounded::before {
  border-radius: 50px;
  width: 30%;
  background: var(--bg-color-header);
}

.btn.rounded:hover::before {
  background: var(--bg-color-header);
  width: 100%;
}

.text-green {
  display: flex;
  z-index: 7;
}

.text-green a{
  text-decoration: none;
  color: var(--text-color-body); 
  font-family: 'Bebas Neue', cursive;
  transition: var(--transition);
}

/* EDUCACION */

.division{
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.division h2{
  font-family: 'Bebas Neue', cursive;
  margin: 2px;
  color: var(--text-color-second);
}

.division div{
  margin: 0;
  padding: 10px;
  background-color: var(--bg-color-header);
  transition: var(--transition);
  border-radius: 40px 40px 40px 40px;
}

.division-año{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.division-año h2{
  font-family: 'Bebas Neue', cursive;
  margin: 2px;
  color: var(--text-color-second);
}

/* EDUCACION - LINEA DE TIEMPO */

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: var(--text-color-body);
  transition: var(--transition);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--bg-color-body);
  border: 2px solid var(--text-color-body);
  transition: var(--transition);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--text-color-body);
  transition: var(--transition);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color-body);
  transition: var(--transition);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
  font-family: 'Bebas Neue', cursive;
}

.container.left .date {
  right: -200px;
}

.longg{
  right: -245px !important;
}

.container.right .date {
  left: -200px;
}

.long {
  left: -250px !important;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--bg-color-header);
  border: 2px solid var(--text-color-second);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--text-color-second);
  transition: var(--transition);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: var(--bg-color-header);
  position: relative;
  border-radius: 0 500px 500px 0;
  transition: var(--transition);
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--text-color-second);
  transition: var(--transition);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Oswald', sans-serif;
  color: var(--text-color-second);
  transition: var(--transition);
}

/* SKILLS */

.Skills{
  display: flex;
  justify-content: space-between;
}

.Skills-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

/* BARRAS DE PROGRESO */

.container2 {
  width: 550px;
  margin: 0;
  text-align: center;
}

.content2-block {
  margin-top: 50px;
}

.content2-block__effect {
  margin-bottom: 50px;
}

.progress-container2 {
  margin-bottom: 30px;
}

.play-animation {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.progress-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress-bar {
  position: relative;
  width: 550px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: var(--text-color-body);
}

.progress-bar:not(:last-child) {
  margin-bottom: 35px;
}

.progress-bar--lg-offset:not(:last-child) {
  margin-bottom: 52.5px;
}

.progress-bar__value,
.progress-bar__skill {
  box-sizing: border-box;
}

.progress-bar__bar {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.progress-bar__bar--no-overflow {
  overflow: visible;
}

.progress-bar__bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}

.progress-bar__bar-inner.js-animated {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 1.14, 0.31, 1.06);
  transition-delay: 0s;
  transform: scaleX(1);
}

.progress-bar__skill,
.progress-bar__value {
  font-size: 14px;
  letter-spacing: 1px;
}

.progress-bar__value--aligned-value {
  transform: translateX(-50%);
}

/* progress bar #1 styles */
.progress-bar--1 {
  height: 20px;
  padding: 4px;
  border: 1px solid var(--text-color-body);
  border-radius: 20px;
  transition: var(--transition);
}

.progress-bar__bar-inner--1 {
  background-image: linear-gradient(to right, var(--bg-color-header) 0, var(--bg-color-bar) 100%);
  background-size: 200%;
  background-position: 0 0;
  border-radius: 20px;
}

.progress-bar__skill--1 {
  position: absolute;
  top: -27px;
  left: -20px;
  opacity: 0;
}
.progress-bar__skill--1.js-animated {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 0;
  opacity: 1;
}

.progress-bar__value--1 {
  position: absolute;
  top: -27px;
  right: -20px;
  opacity: 0;
}
.progress-bar__value--1.js-animated {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  right: 0;
  opacity: 1;
}

/* EXPERIENCIA */

.Experiencia{
  display: flex;
  flex-direction: column;
  padding-top: 80px !important;
}

.Experiencia-descripcion{
  height: 100%;
  margin: 10px 5px;
}

.Experiencia-contenedor{
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.Experiencia-secciones{
  margin: 0;
  padding: 20px;
  max-width: 700px;
  width: 700px;
}

.logo-trabajo{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 130px;
  margin: 20px;
  background-color: var(--bg-color-header);
 *background: radial-gradient(farthest-side circle at 70px 70px, var(--bg-color-bar), var(--bg-color-header));
  transition: var(--transition);
  border-radius: 100px;
  user-select: none;
} 


.logo-trabajo img{
  width: 70px;
}

.Experiencia-seccion1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Experiencia-seccion2{
  display: block;
  padding-left: 30px;
}

.Experiencia-seccion2 ul li, p{
  font-family: 'Oswald', sans-serif;
}

.Experiencia-subseccion p{
  font-family: 'Bebas Neue', cursive;
  text-transform: none;
}

.trabajo h2{
  font-family: 'Bebas Neue', cursive;
  text-transform: capitalize;
}





/*  MAIN RESPONSIVE  */

@media screen and (max-width:1500px) {
    
  .parrafos{
    font-size: medium;
  }

}